<div class="row mb-2 item-fields">
  <div class="col-md-3">
    <%= f.select :sku_code, SoukoZaiko.pluck(:sku_code, :sku_code).uniq, prompt: 'Choose a SKU', class: "form-control" %>
  </div>
  <div class="col-md-3">
    <%= f.number_field :quantity, class: 'quantity form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.number_field :price, class: 'price form-control' %>
  </div>
  <div class="col-md-3">
    <%= f.number_field :total_amount, class: 'amount form-control' %>
  </div>
</div>
