<div class="container d-flex justify-content-center my-5">
  <div class="card p-4 shadow-lg" style="width: 50rem;">
    <div class="card-body" id='order_form'>
      <%= render 'form' %>
    </div>
  </div>
</div>
